.app-header {
    background: lightslategray;
    color: white;
    padding: 20px;

}
.app-header.nav-bar {
    color: rgb(240, 30, 30);
}

.app-header section.container {
    display: flex;
    align-items: center;

}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

.email-preview-list {
    list-style-type: none; /* Removes default list bullets */
    margin-left: 20%; /* Adjust margin as needed */
    padding: 0; /* Ensure no padding affecting alignment */
}

.email-preview-list li {
    text-align: left; /* Ensures text is aligned to the left */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1.1px solid rgba(128, 128, 128, 0.329);
    text-align: center;
}
.email-preview-list li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Highlight on hover */
}

.filter-container {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    width: 70%; /* Ensure it takes full width */
    padding-top: 3%;
    padding-left: 9%;
    padding-right: 3%;

}
.filter-container input {
    padding: 9px;
    border: 1.5px solid rgba(0, 0, 0, 0.216); /* Sets the border width and color */
    border-radius: 12px; /* Rounds the corners of the border */
    border-style: solid; /* Defines the border style */
    outline: none; /* Removes default focus outline */
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Optional: limit max width */
}



.email-folder-list {
    background-color: rgba(162, 185, 185, 0.276);
    float: left;
    width: 20%;
    padding-right: 2%;
    padding-left: 2%;
    height: 100vh;
}
.email-folder-list .list {
    float: center;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style-type: none;
    margin-top: 30%;
}

.email-folder-list .list li {
    cursor: pointer; /* Add pointer cursor for clickable items */
    padding: 20%; /*Add padding for better spacing */
}

.email-folder-list .list li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Highlight on hover */
}

.email-details {
    text-align: center;
}



/* email - correct place ? */