.compose-form {
    display: grid;
    position: fixed;
    background-color: white;
    z-index: 10;
    border-radius: 20px;
}
/* Big view: Adjust the form size */
.compose-form.big {
    grid-template-rows: 0.45fr 0.45fr 0.45fr 6fr 0.45fr;
    height: 80vh;
    width: 83vw;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.compose-form.normal {
    grid-template-rows: 0.45fr 0.45fr 0.45fr 6fr 0.45fr;
    height: 60vh;
    width: 43vw;
    bottom: 0px;
    right: 0px;
}
.compose-form.min {
     height: 5vh;
     width: 23vw;  /* Adjust this width or add a min-width */
     min-width: 400px; /* Ensure the width is at least 300px */
     bottom: 0px;
     right: 0px;
     margin-right: 30px;
}
.normal-button {
    justify-self: right;
}
.compose-form .header {
    display: flex;
    justify-content: space-between; /* Space between the text and buttons */
    align-items: center; /* Center items vertically */
}
.header .msg-text{
    text-align: left;
    margin-left: 5px;
    margin-left: 25px;

}
.header .controls {
    display: flex;
    margin-right: 10px;
    gap: 5px;
}

.compose-form .to {
    padding-left: 10px;
    font-size: 1.2em;
}
.compose-form .subject {
    padding-left: 10px;
    font-size: 1.2em;
}
.compose-form .content {
    padding-left: 10px;
    font-size: 1.2em;
}
.compose-form .footer {
    display: flex;
    justify-content: space-between; /* Space between the buttons */
    align-items: center;
    padding: 20px;
}
.compose-form .footer .submit {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    border-radius: 20px;
    background-color: rgb(60, 60, 237);
    color: white;

}
.compose-form .footer .delete {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    border-radius: 20px;
    background-color: rgba(60, 60, 237, 0.288);
    color: white;
}
