.email-filter-header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 4fr 0.2fr;
}
.email-filter-header .icon-text-container { 
    grid-column: 1;
    display: flex;
    justify-content: start;
}

/* search bar */
.filter-container {
    grid-column: 2;
    position: relative;
    justify-self: center;
    align-self: center;
}

.filter-container input {
    width: 45em;  
    max-width: 20em;
    height: 2.4em; 
    border: 1.5px solid rgba(0, 0, 0, 0.216); 
    border-radius: 52px;
    border-style: solid;
    outline: none;
    padding-left: 70px;
    font-size: 1.7em;
    background-color: rgb(236, 235, 246)
}
.filter-container input::placeholder {
    color: black;
}
.filter-container .searchIcon {
    position: absolute;
    margin-left: 24px;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}